*_orig.txt
*.json
stdout.txt
*test*
dev/*
qrcode.png
old/output*.txt
.opml_parser_2.py.kate-swp
opml_parsing_result.txt
.clj-kondo
podcasts_opml.json.orig
podcast-addict-opml-parser/*
newest_orig.py
daily_update
jabbedi.sh
